/* FormStyles.css */
.divFlex{
   display: flex;
   justify-content: space-evenly;
   
}
.styled-form {
    
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 10px black;
    border: 2px solid black;
    margin: 0 auto; /* Center the form */
    background-color: rgb(149, 186, 188);

  
    @media (max-width: 400px) {
      width: 90%;
    }
  
    label {
      display: block;
      margin-bottom: 8px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: larger;
    }
  
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border:solid 1px #000000;
      border-radius: 10px;
    }
    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border:solid 1px #000000;
      border-radius: 10px;
    }
  
    button {
      background-color:  rgb(105, 123, 125);
      color: #0f0f0f;
      padding: 10px;
      border:solid 1px #000000;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
     
  
    }
    button:hover {
        background-color: rgb(89, 94, 94);
        color: aliceblue;
    }
}
  